<!-- Reviews -->
<h2 class="text-center mb-5" data-aos="fade-right" data-aos-duration="1300">Beoordelingen</h2>

<section class="review-container mb-5" data-aos="fade-up" data-aos-duration="1000">

    <div class="review">
        <div class="user-image">
            <i class="fas fa-user"></i>
        </div>
        <h3>Vaste klant #1</h3>
        <p class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </p>
        <p>"Ik had een geweldige eetervaring bij Qeuqen. Het eten was voortreffelijk en de service was top!"</p>
    </div>

    <div class="review">
        <div class="user-image">
            <i class="fas fa-user"></i>
        </div>
        <h3>Vaste klant #2</h3>
        <p class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </p>
        <p>"Mijn bezoek aan Qeuqen was uiterst aangenaam. Het diner was verrukkelijk en de bediening was uitstekend. Ik
            kan het zeker aanbevelen."</p>
    </div>

    <div class="review">
        <div class="user-image">
            <i class="fas fa-user"></i>
        </div>
        <h3>Vaste klant #3</h3>
        <p class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </p>
        <p>"De sfeer bij Qeuqen is gezellig en uitnodigend. Het personeel is vriendelijk en het menu biedt een grote
            hoeveelheid aan opties. Ik kom zeker terug!"</p>
    </div>

    <div class="review">
        <div class="user-image">
            <i class="fas fa-user"></i>
        </div>
        <h3>Vaste klant #4</h3>
        <p class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </p>
        <p>"Uitstekende ervaring! Het eten en de service waren voortreffelijk."</p>
    </div>

</section>
