<div style="background: linear-gradient(to left, #9cd5aa, #68b38e); padding: 20px 10px;">
    <h1 style="margin: 0 0 10px 0; color: #0a0a0a;">Qeuqen</h1>

    <h2 style="color: #0a0a0a;">Beste {{ username }},</h2>

    <p style="font-size: 18px; font-weight: 550; color: #0a0a0a;">Je registratie bij Qeuqen is succesvol voltooid!</p>

    <p style="font-size: 16px; color: #0a0a0a;">Je kunt nu inloggen om toegang te krijgen tot jouw account.</p>

    <a href="http://qeuqen.niekkrammer.nl/login" style="color: black;
        padding: 7px 26px;
        background-color: #EFEFEF;
        text-decoration: none;
        border-style: solid;
        border-width: 3px;
        border-top-color: grey;
        border-right-color: black;
        border-bottom-color: black;
        border-left-color: grey; font-weight: bold;">Inloggen</a>
</div>